<%- include("../includes/header.ejs") %>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/items.css">

</head>

<body>

    <%- include("../includes/navigation.ejs") %>

    <main>
        <div class="product">

            <img src="/images/1596292302231IMG20200205214709.jpg" alt="" class="product__image">
            <div class="product__details">
                <h3 class="title">Tejendra Pal Singh</h3>
                <p class="product__price">$ Looking for a job</p>
                <p class="product__description">
                    Hello everyone this is Tejendra Pal Singh, a enthusiastic web developer. To know more about my skills here is a Link to <a href="#">my resume</a><br>
                    This website is created using Nodejs on the server side. For database i have used MongoDB. This is not the final thing as it will be updated continuosly over the period of time

                </p>
                
            </div>


        </div>
    </main>

    <%- include("../includes/end.ejs") %>